<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mass Update System{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('index') }}" class="{% if request.endpoint == 'index' %}active{% endif %}">Home</a>
        <a href="{{ url_for('upload') }}" class="{% if request.endpoint == 'upload' %}active{% endif %}">Upload</a>
        <a href="{{ url_for('manage_connections') }}" class="{% if request.endpoint == 'manage_connections' %}active{% endif %}">Add/Remove Connections</a>
        <a href="{{ url_for('backup') }}" class="{% if request.endpoint == 'backup' %}active{% endif %}">Backup</a>
        <a href="{{ url_for('log_view') }}" class="{% if request.endpoint == 'log_view' %}active{% endif %}">Logs</a>
        <a href="{{ url_for('credits') }}" class="{% if request.endpoint == 'credits' %}active{% endif %}">Credits</a>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <div class="flash-message" id="flash-message">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <script>
        window.onload = function() {
            var flashMessage = document.getElementById('flash-message');
            if (flashMessage.innerHTML.trim()) {
                flashMessage.classList.add('show');
                setTimeout(function() {
                    flashMessage.classList.remove('show');
                }, 3000);
            }
        };

        function updatePlaceHolder(input) {
            var usernameInput = document.getElementById(input);
            var placeholderParagraph = document.getElementById(input + 'placeholder');
            var hideshow = document.querySelector("#hideShow" + input);

            // Helper functions to add/remove classes
            function addPlaceholderClasses() {
                placeholderParagraph.classList.add('placeholderWithText');
                if (hideshow) {
                    hideshow.classList.add('hideShowFucused');
                }
            }

            function removePlaceholderClasses() {
                placeholderParagraph.classList.remove('placeholderWithText');
                if (hideshow) {
                    hideshow.classList.remove('hideShowFucused');
                }
            }

            // Initial state handling
            // Add classes only if the input is focused and empty or has a value
            if (usernameInput === document.activeElement && usernameInput.value === "") {
                addPlaceholderClasses();
            } else if (usernameInput.value !== "") {
                addPlaceholderClasses();
            } else {
                removePlaceholderClasses();
            }

            // Event listener for focus
            usernameInput.addEventListener('focus', function() {
                if (usernameInput.value === "") {
                    addPlaceholderClasses();
                }
            });

            // Event listener for blur
            usernameInput.addEventListener('blur', function() {
                if (usernameInput.value === "") {
                    removePlaceholderClasses();
                } else {
                    addPlaceholderClasses();
                }
            });
        }
            
        const exceptionIds = [
            'file',
            'uploadedbackup_file'
        ];

        function initializePlaceholders() {
            const inputs = document.querySelectorAll("input[id], select[id], textarea[id]");
            inputs.forEach(function(input) {
                if (!exceptionIds.includes(input.id)) {
                    updatePlaceHolder(input.id);
                }
            });
        }
        initializePlaceholders();


    </script>
</body>
</html>
