<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mass Update System{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('manage_connections') }}">Add/Remove Connections</a>
        <a href="{{ url_for('backup') }}">Backup</a>
        <a href="{{ url_for('log_view') }}">Logs</a>
        <a href="{{ url_for('credits') }}">Credits</a>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <div class="flash-message" id="flash-message">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <script>
        window.onload = function() {
            var flashMessage = document.getElementById('flash-message');
            if (flashMessage.innerHTML.trim()) {
                flashMessage.classList.add('show');
                setTimeout(function() {
                    flashMessage.classList.remove('show');
                }, 3000);
            }
        };
    </script>
</body>
</html>
