{% extends "base.html" %}

{% block content %}
<h2>Add Connection</h2>
<form method="post">
    <!-- IDK WHAT THE FUCK THIS IS -->
    <input type="hidden" name="action" value="add">

    <div class="inputContainer inputContainerSpacing">
        <input type="text" id="name" name="name" onfocus="updatePlaceHolder('name')" style="width: 250px;">
        <div class="labelContainer">
            <p id="nameplaceholder" class="placeholder" style="left: 139px;">Custom Device Name</p>
        </div>
    </div> 

    
    <div class="inputContainer inputContainerSpacing">
        <input type="text" id="user" name="user" required onfocus="updatePlaceHolder('user')" style="width: 250px;">
        <div class="labelContainer">
            <p id="userplaceholder" class="placeholder" style="left: 139px;">Username</p>
        </div>
    </div> 

    
    <div class="inputContainer inputContainerSpacing">
        <input type="password" id="password" name="password" required onfocus="updatePlaceHolder('password')" style="width: 250px;">
        <div class="labelContainer">
            <p id="passwordplaceholder" class="placeholder" style="left: 139px;">Password</p>
        </div>
    </div> 

    <div class="inputContainer inputContainerSpacing">
        <input type="text" id="ip" name="ip" required onfocus="updatePlaceHolder('ip')" style="width: 250px;">
        <div class="labelContainer">
            <p id="ipplaceholder" class="placeholder" style="left: 139px;">IP Address</p>
        </div>
    </div> 

    <div class="inputContainer inputContainerSpacing">
        <input type="number" id="port" name="port" required value="22" onfocus="updatePlaceHolder('port')" style="width: 250px;">
        <div class="labelContainer">
            <p id="portplaceholder" class="placeholder" style="left: 139px;">Port</p>
        </div>
    </div> 


    <div class="inputContainer inputContainerSpacing">
        <select id="password_sudo" name="password_sudo" onfocus="updatePlaceHolder('password_sudo')" style="width: 262px; padding-left: 6px;">
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
        <div class="labelContainer">
            <p id="password_sudoplaceholder" class="placeholder" style="left: 139px;">Passwordless sudo</p>
        </div>
    </div>     
    
    <div class="inputContainer inputContainerSpacing">
        <select id="manager" name="manager"onfocus="updatePlaceHolder('manager')" style="width: 262px; padding-left: 6px;">
            {% for manager in managers %}
                <option value="{{ manager }}">{{ manager }}</option>
            {% endfor %}
        </select>
        <div class="labelContainer">
            <p id="managerplaceholder" class="placeholder" style="left: 139px;">Package Manager</p>
        </div> 
    </div>



    <button type="submit">Add Connection</button>
</form>

<h2>Existing Connections</h2>
<ul>
    {% for connection in connections %}
        <li>{{ connection['name'] }} ({{ connection['user'] }}@{{ connection['ip'] }}:{{ connection['port'] }})
            <form action="{{ url_for('edit_connection', ip=connection['ip']) }}" method="get" style="display:inline;">
                <button type="submit">Edit</button>
            </form>
        </li>
    {% endfor %}
</ul>


<h2>Remove Connection</h2>
<form method="post">
    <input type="hidden" name="action" value="remove">


    <div class="inputContainer inputContainerSpacing">
        <input type="text" id="ipremove" name="ipremove" required onfocus="updatePlaceHolder('ipremove')" style="width: 250px;">
        <div class="labelContainer">
            <p id="ipremoveplaceholder" class="placeholder" style="left: 139px;">IP Address</p>
        </div>
    </div> 

    <button type="submit">Remove Connection</button>
</form>
{% endblock %}
