{% extends "base.html" %}

{% block content %}
<style>
    a {
    color: white;
    }
</style>
<h2>Credits</h2>

<br>

<h3>Contributors</h3>
<a href="https://github.com/OlaYZen" target="_blank">OlaYZen</a>
<a href="https://github.com/LoserPurp" target="_blank">Purp</a>

<br>

<h3>Special Thanks</h3>
<a href="https://github.com/LoserPurp" target="_blank">Purp</a>

<br>

<h3>Licenses</h3>
<a href="../LICENSES/massupd" target="_blank">Massupd</a>
<a href="../LICENSES/massupd-gui" target="_blank">Massupd-gui</a>
{% endblock %}
