{% extends "base.html" %}

{% block content %}
<h2>Edit Connection</h2>
<form method="post">
    <div class="inputContainer inputContainerSpacing">
        <input type="text" id="name" name="name" value="{{ connection.name }}" onfocus="updatePlaceHolder('name')" style="width: 250px;">
        <div class="labelContainer">
            <p id="nameplaceholder" class="placeholder" style="left: 139px;">Custom Device Name</p>
        </div>
    </div> 

    <div class="inputContainer inputContainerSpacing">
        <input type="text" id="user" name="user" value="{{ connection.user }}" required onfocus="updatePlaceHolder('user')" style="width: 250px;">
        <div class="labelContainer">
            <p id="userplaceholder" class="placeholder" style="left: 139px;">User</p>
        </div>
    </div> 
    
    <div class="inputContainer inputContainerSpacing">
        <input type="password" id="password" name="password" required onfocus="updatePlaceHolder('password')" style="width: 250px;">
        <div class="labelContainer">
            <p id="passwordplaceholder" class="placeholder" style="left: 139px;">Password</p>
        </div>
    </div> 

    <div class="inputContainer inputContainerSpacing">
        <input type="text" id="ip" name="ip" value="{{ connection.ip }}" required onfocus="updatePlaceHolder('ip')" style="width: 250px;">
        <div class="labelContainer">
            <p id="ipplaceholder" class="placeholder" style="left: 139px;">IP Address</p>
        </div>
    </div> 


    <div class="inputContainer inputContainerSpacing">
        <input type="number" id="port" name="port" value="{{ connection.port }}" required onfocus="updatePlaceHolder('port')" style="width: 250px;">
        <div class="labelContainer">
            <p id="portplaceholder" class="placeholder" style="left: 139px;">Port</p>
        </div>
    </div> 

    <div class="inputContainer inputContainerSpacing">
        <select id="password_sudo" name="password_sudo" onfocus="updatePlaceHolder('password_sudo')" style="width: 262px; padding-left: 6px;">
            <option value="yes" {% if connection.passwordSudo == 'yes' %}selected{% endif %}>Yes</option>
            <option value="no" {% if connection.passwordSudo == 'no' %}selected{% endif %}>No</option>
        </select>
        <div class="labelContainer">
            <p id="password_sudoplaceholder" class="placeholder" style="left: 139px;">Passwordless sudo</p>
        </div>
    </div>     

    <div class="inputContainer inputContainerSpacing">
        <select id="manager" name="manager"onfocus="updatePlaceHolder('manager')" style="width: 262px; padding-left: 6px;">
            {% for manager in managers %}
                <option value="{{ manager }}" {% if connection.manager == manager %}selected{% endif %}>{{ manager }}</option>
            {% endfor %}
        </select>
        <div class="labelContainer">
            <p id="managerplaceholder" class="placeholder" style="left: 139px;">Package Manager</p>
        </div> 
    </div>

    <button type="submit">Update Connection</button>
</form>
{% endblock %}
