<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container login">
        <h1 class="dropshadow">MASSUPD-GUI</h1>
        <h2 class="dropshadow">Login</h2>
        <form action="{{ url_for('login') }}" method="post">
            <label class="dropshadow" for="password">Password:</label>
            <div class="input-group">
                <input type="password" id="password" name="password" required>
                <button class="login" type="submit">Login</button>
            </div>
        </form>
        <div class="flash-message" id="flash-message">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <script>
        window.onload = function() {
            var flashMessage = document.getElementById('flash-message');
            if (flashMessage.innerHTML.trim()) {
                flashMessage.classList.add('show');
                setTimeout(function() {
                    flashMessage.classList.remove('show');
                }, 3000);
            }
        };
    </script>
</body>
</html>
