{% extends "base.html" %}

{% block content %}
<h2>Upload</h2>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}

    <form method="post" enctype="multipart/form-data" action="{{ url_for('upload') }}">

        <div class="inputContainer inputContainerSpacing">
            <select id="pc" name="pc" required onfocus="updatePlaceHolder('pc')" style="width: 262px; padding-left: 6px;">
                {% for conn in connections %}
                    <option value="{{ conn.ip }}">{{ conn.display }}</option>
                {% endfor %}
            </select>
            <div class="labelContainer">
                <p id="pcplaceholder" class="placeholder" style="left: 139px;">Select PC</p>
            </div>
        </div>

        

        <div class="inputContainer inputContainerSpacing">
            <input type="file" id="file" name="file" required style="width: 250px;">
            <div class="labelContainer">
                <p id="fileplaceholder" class="placeholder placeholderWithText" style="left: 139px;">Select File</p>
            </div>
        </div> 


        <button type="submit" value="Upload">Upload</button>
    </form>
</body>
</html>
{% endblock %}